.Basket {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.basket-with-products {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.Basket-total {
    width: 270px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
}

.Basket-total-pay {
    width: 100%;
    height: auto;display: flex;
    justify-content: center;
    align-items: center;
}

.Basket-total-pay h6{
    all: unset;
    font-size: 1rem;
    font-weight: bold;
}

.basket-empty {
    width:300px;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.basket-sellection {
    width: 280px;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.basket-sellection span {
    color: red;
    font-weight: bold;
}

.Basket-total button {
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #25D366;
    cursor: pointer;
}

.Basket-total button:hover {
    background-color: #53f08d;
}