.Basket {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.basket-with-products {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.Basket-total {
    width: 270px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
}

.Basket-total-pay {
    width: 100%;
    height: auto;display: flex;
    justify-content: center;
    align-items: center;
}

.Basket-total-pay h6{
    all: unset;
    font-size: 1rem;
    font-weight: bold;
}