
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px; 
    height: 540px; 
    padding: 0px 0px 15px 0px;
    position: relative;
}

.card a {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    height: 250px; 
    object-fit: contain; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.false {
    height: 250px; 
    object-fit: contain; 
}

.card-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-discount-abs {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 51, 20);
    position: absolute;
    color: white;
}

.card-details-1 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.card-details-2 {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-description {
    width: 95;
    height: 150px;
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}

.card-price {
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(255, 51, 20);
}

.strike-through {
    text-decoration: line-through;
}

.card-likes {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-discount {
    font-size: 14px;
    color: #c00;
    margin-bottom: 8px;
}

.card-created {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 5px;
}

.card-quantity {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card-btn-buy {
    all: unset;
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    padding: 5px 2px 5px 2px;
    border-radius: 4px;
    margin-top: 10px;
}

