.Cardbasket {
    width: 280px;
    max-height: 200px;
    display: flex;
    background-color: #f0f0f0;
    border-radius: 8px;
    position: relative;
    padding: 8px;
    justify-content: space-between; 
    align-items: center;
}

.cardbasket-container-img,
.cardbasket-price,
.cardbasket-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: 1; 
}

.cardbasket-price {
    flex-direction: column;
}

.cardbasket-quantity {
    gap: 5px;
}

.cardbasket-container-img img {
    width: calc(280px / 3);
    object-fit: contain;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.Cardbasket h6, div, label {
    margin: 0;
    padding: 0;
}

.Cardbasket h6 {
    border: 3px solid rgb(250, 133, 61);
    padding: 5px 10px;
    border-radius: 10px;
}

.Cardbasket button {
    all: unset;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

.Cardbasket button .bx {
    color: white;
}

/*Delete prodcut basket*/

.delete-product-basket {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.delete-product-basket .bx {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.delete-product-basket .bx:hover {
    color: rgb(44, 43, 43);
}

.basket-select-size {
    width: 45%;
    position: absolute;
    bottom: -35px;
    left: 5px;
    border-radius: 4px;
}

.basket-select-size select {
    width: 100%;
    padding: 3px;
    font-size: 0.8rem;
    border: 0.01rem solid black;
    border-radius: 4px;
}

.basket-select-color {
    width: 45%;
    position: absolute;
    bottom: -35px;
    right: 5px;
    border-radius: 4px;
}

.basket-select-color select {
    width: 100%;
    padding: 3px;
    font-size: 0.8rem;
    border: 0.01rem solid black;
    border-radius: 4px;
}