.Cardbasket {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    position: relative;
    padding: 6px;
}

.cardbasket-container-img,
.cardbasket-price,
.cardbasket-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cardbasket-price {
    flex-direction: column;
}

.cardbasket-quantity {
    gap: 5px;
}

.cardbasket-container-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Cardbasket h6, div, label {
    margin: 0;
    padding: 0;
}

.Cardbasket h6 {
    border: 3px solid rgb(250, 133, 61);
    padding: 5px 10px;
    border-radius: 10px;
}

.Cardbasket button {
    all: unset;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

.Cardbasket button .bx{
    color: white;
}

/*Delete prodcut basket*/

.delete-product-basket {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.delete-product-basket .bx{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.delete-product-basket .bx:hover{
    color: rgb(44, 43, 43);
}

.basket-select-size {
    position: absolute;
    bottom: -28px;
    left: 5px;
}