.categorycomponent {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
    gap: 40px;
}