.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4em;
    cursor: pointer;
    padding: 20px;
}

.burger-bar {
    width: 4em;
    height: 0.3em;
    background-color: coral;
    border-radius: 0.3em;
    transition: ease-out 0.5s;
}

.menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(0, 181, 160);
    position: absolute;
    top: 80px;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.3em, 0.75em);
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0);
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.3em, -0.75em);
}

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275, ) 0.5s;
}

.custom-list {
    width: 100%;
    height: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.this-li {
    border-radius: 8px;
    padding: 2px 0px 3px 0px;
    border: 0.18rem solid coral;
}

.custom-list li {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 3px 8px 3px 8px;
    background-color: rgb(137, 216, 250);
    cursor: pointer;
}

.custom-list li .bx {
    font-size: 1.1rem;
    font-weight: bold;
}

.custom-list li:hover {
    background-color: rgb(95, 203, 249);
}

.custom-list li a {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    text-decoration: none !important;
}

.menu label {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(62, 62, 62);
}

@media(height < 350px) {
    .custom-list {
        width: 100%;
        height: 100%;
        gap: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media(width < 400px) {
    .custom-list li a {
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none !important;
    }
}