.Singleproduct {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
}

.Singleproduct-interesting-products {
    all: unset;
    width: 95%;
    height: aunto;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}