.Editproducts {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    margin-top: 180px;
    margin-bottom: 100px;
}