.edit-back {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 110, 242);
    border-radius: 8px;
    padding: 5px 5% 5px 5%;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.edit-back:hover {
    background-color: rgb(186, 186, 255);
    color: rgb(53, 53, 53);
}

.edit-current-data{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit-current-data-colors {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}